.slider-thumb-container {
  position: absolute;

  &.date-range-slider-thumb-container {
    left: -45px;
  }

  &.map-slider-thumb-container {
    left: -71px;
  }

  &.time-slider-thumb-container {
    left: 42px;

    .slider-thumb-label {
      .label-background {
        left: -5px;
        top: -3px;
      }
    }
  }

  &.left-rounded {
    .slider-thumb-label {
      background-color: white;
      border: 1px solid #177991;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      left: 0;
      top: 4px;

      .label-text {
        right: 4px;
      }
    }

    .slider-thumb {
      left: 67px;
    }
  }

  &.right-rounded {
    .slider-thumb-label {
      left: 32px;
      padding-left: 8px;
      top: 8px;
    }
  }

  .slider-thumb-label {
    height: 20px;
    position: absolute;
    visibility: hidden;
    width: 72px;

    &.hover {
      opacity: .4;
      visibility: visible;
    }

    &.active {
      visibility: visible;
    }

    .label-background {
      position: absolute;
    }

    .label-text {
      font-weight: 500;
      position: absolute;
    }
  }

  .slider-thumb {
    cursor: pointer;
    position: absolute;
  
    .slider-thumb-center {
      fill: white;
      fill-opacity: .8;
    }

    &.hover {
      .slider-thumb-center {
        fill: #eef8f9;
      }
    }

    &.active {
      .slider-thumb-center {
        fill: rgba(185, 223, 229, 0.8);
      }
    }
  }
}
