.time-slider-container {
  color: #222222;
  font-size: 12px;
  left: 521px;
  position: absolute;
  top: 10px;
  width: 160px;

  .time-slider-title {
    font-weight: 600;
    left: 40px;
    position: absolute;
    top: 11px;
  }

  .time-label {
    font-weight: 500;
    left: 83px;
    position: absolute;
  }
}