.scatter-plot {
  background-color: #f9f9f9;
  border: 1px solid #e3e3e3;
  height: 354px;
  left: 62.5px;
  position: absolute;
  top: 10px;
  width: 566px;

  &.pointer-mode {
    cursor: pointer;

    &:active {
      cursor: grabbing;
    }
  }
}
