.scatter-plot-container {
  background-color: #f9f9f9;
  border: 1px solid #e3e3e3;
  display: flex;
  height: 728px;
  justify-content: flex-end;
  left: -60px;
  position: absolute;
  top: -60px;
  width: 1080px;
  z-index: 0;

  .scatter-plot {
    height: 708px;
    margin-right: 40px;
    position: relative;
    width: 832px;

    &.pointer-mode {
      cursor: pointer;

      &:active {
        cursor: grabbing;
      }
    }
  }
}
