.App {
  text-align: center;
  background-color: white;
  box-sizing: border-box;
  color: rgb(110,109,95);
  font-family: "Montserrat", serif;
  font-size: 20px;

  .buttons {
    display: flex;
    flex-direction: column;
  }

  .chakra-tabs {
    margin: 0px;

    .chakra-tabs__tablist {
      border-color: #777;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 2px;
      padding-left: 3px;

      .chakra-tabs__tab {
        border: solid 1px #777;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        font-size: 12px;
        margin-left: -1px;
        padding: 5px 10px;

        &[aria-selected=true] {
          border-bottom-color: white;
          color: #222222;
          font-weight: 600;
          height: 27px;
          padding-bottom: 7px;
        }

        &[aria-selected=false] {
          background-color: #fafafa;
          color: #696969;
          font-weight: 500;
          height: 25px;
          margin-top: 2px;

          &:hover {
            background-color: #dbeff1;
          }
        }
      }
    }
  }

  .response-area {
    display: flex;
    flex-direction: column;
    span {
      position: relative;
      top: 0;
      left: 0;
    }
    .response {
      resize: vertical;
      min-height: 2em;
      height: 10em;
      overflow-y: scroll;
      border: thin solid darkslategrey;
      background-color: rgba(0,0,255,0.1);
      margin: 10px;
      padding: 0;
      font-size: small;
      text-align: left;
      white-space: pre-wrap;
      user-select: text;
    }
  }
}
