.home-container {
  left: 10px;
  top: 141px;
}

.map-zoom-container {
  left: 10px;
  top: 203px;
}

.map-reset-container {
  left: 10px;
  top: 348px;
}

.legend-container {
  left: 72px;
  top: 348px;
}

.mode-container {
  left: 114px;
  top: 348px;
}
