.map-arrow-container {
  height: 100px;
  left: 50px;
  position: absolute;
  top: 250px;
  width: 100px;

  .center-map {
    left: 41px;
    position: absolute;
    top: 44px;
  }
}

.home-container {
  left: 47px;
  top: 141px;
}

.map-zoom-container {
  left: 47px;
  top: 203px;
}

.map-reset-container {
  left: 47px;
  top: 348px;
}

.legend-container {
  left: 109px;
  top: 348px;
}

.mode-container {
  left: 151px;
  top: 348px;
}
