.split-button {
  flex-direction: column;

  &.horizontal-split {
    flex-direction: row;
  }
}

.sub-button {
  &.left {
    svg {
      rotate: 270deg;
    }
  }

  &.right {
    svg {
      rotate: 90deg;
    }
  }

  &.up {
    svg {
      rotate: 180deg;
    }
  }

  &:hover {
    background-color: #dceff2;
  }
}